.center,
.right {
  color: gray;
}
.left div {
  font-size: x-large;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
footer .main {
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.059);


}

.content {
  display: flex;
  width: 100%;
  border: 1px solid #8080803d;
  padding: 5px;
}
.imp{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}